services:
  finance-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: finance-management-app
    ports:
      - "3000:3000"
    env_file:
      - .env.local
    restart: unless-stopped
    networks:
      - finance-network

networks:
  finance-network:
    driver: bridge

