services:
  finance-app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
        - NEXT_PUBLIC_APP_URL=${NEXT_PUBLIC_APP_URL}
    container_name: finance-management-app
    ports:
      - "3000:3000"
    env_file:
      - .env.local
    restart: unless-stopped
    networks:
      - finance-network

networks:
  finance-network:
    driver: bridge

